extends header

block content
    div(class='container wrapper')
        div
            | Oops, the page you're looking for does not exist.
        hr
        div
            p
                | You may want to head back to the homepage.
                br
                |       If you think something is broken, report a problem.
        div
            a.border-button(href='mailto:vincentl@vt.edu' target='_blank') Report A Problem
            
    footer(class='footer' style='background-image:url(/public/dna.jpg);')
