extends header

block content
    div(class='center wrapper')
        h1(class='center' id='home-header') Bioinformatics and Metagenomics pipeline
        p Ketttle is an online tool for the FastViromeExplorer which is a pipeline for virus and phage identification and abundance profiling in metagenomic data
