extends header

block content
    h1 Upload
    form(action = '/api/jobs' method = 'POST')
        label Read 1: 
        input(type='file' name='read_1')
        br
        label Read 2: 
        input(type='file' name='read_2')
        br
        input(type='submit' value='Upload')
