<html>
    <head>
        <title>KETTTLe</title>
    </head>
    <body>

        <h1>
            Create your user accout:
        </h1>

        <form action = "/api/users" method = "POST">
            First Name: <input type = "text" name = "first_name">  <br>
            Last Name: <input type = "text" name = "last_name"> <br>
            Email: <input type = "email" name = "email"> <br>
            Password: <input type = "password" name = "password">
            <input type = "submit" value = "Submit">
        </form>

    </body>
</html>
